[Desktop Entry]
Name=KDE Shutdown
Name[uk]=Завершення роботи KDE
Name[x-test]=xxKDE Shutdownxx
Comment=kill running KDE applications and processes
Comment[uk]=Завершення роботи всіх програм і процесів KDE
Comment[x-test]=xxkill running KDE applications and processesxx
Type=Application
Terminal=false
Exec=kwinshutdown
Icon=application-exit
X-KDE-StartupNotify=true
X-DocPath=kwinshutdown/index.html
Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
