[Desktop Entry]
Exec=kcmshell5 platform
Icon=kde-windows
Type=Service
X-DocPath=kcontrol/platform/index.html

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Library=kcm_platform
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings
X-KDE-Weight=110

Name=Platform
Name[uk]=Платформа
Name[x-test]=xxPlatformxx
Comment=Windows Platform Manager
Comment[uk]=Інструмент керування платформою Windows
Comment[x-test]=xxWindows Platform Managerxx
X-KDE-Keywords=Platform,Windows
X-KDE-Keywords[uk]=Platform,Windows,платформа,віндоус,віндоуз,віндовс,віндовз
X-KDE-Keywords[x-test]=xxPlatform,Windowsxx
