[Desktop Entry]
Exec=kcmshell5 platform
Icon=kde-windows
Type=Service
X-DocPath=kcontrol/platform/index.html

X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Library=kcm_platform
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings
X-KDE-Weight=110

Name=Platform
Name[cs]=Platforma
Name[nb]=Platform
Name[nds]=Ünnerbuu
Name[nl]=Platform
Name[pt_BR]=Plataforma
Name[uk]=Платформа
Name[x-test]=xxPlatformxx
Comment=Windows Platform Manager
Comment[cs]=Správce platformy Windows
Comment[nb]=Windows plattformbehandler
Comment[nds]=Pleger för de Windows-Systeemümgeven
Comment[nl]=Windows platvormbeheerder
Comment[pt_BR]=Gerenciador da Plataforma Windows
Comment[uk]=Інструмент керування платформою Windows
Comment[x-test]=xxWindows Platform Managerxx
X-KDE-Keywords=Platform,Windows
X-KDE-Keywords[cs]=Platform,Windows
X-KDE-Keywords[nb]=Platform,Windows
X-KDE-Keywords[nds]=Systeem,Systeemümgeven,Ünnerbuu,Windows
X-KDE-Keywords[nl]=Platform,Windows
X-KDE-Keywords[pt_BR]=Plataforma,Windows
X-KDE-Keywords[uk]=Platform,Windows,платформа,віндоус,віндоуз,віндовс,віндовз
X-KDE-Keywords[x-test]=xxPlatform,Windowsxx
